body {
    background-color: #e8f1e8;
    font-family: Arial;
}

.page-wrapper {
    width: 80%;
    margin: auto;
}

.logo {
    width: 100%;
    max-width: 400px;
}

.nav {
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: center;
}

.nav a {
    background: green;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.feature-image {
    float: right;
    width: 35%;
    max-width: 400px;
    margin: 10px;
}

.social-icon {
    width: 40px;
}
